<nav class="nav">
    <a href="{{ '/' | relative_url }}" class="logo-container" style="text-decoration: none; cursor: pointer;">
        <img src="{{ '/Logo.png' | relative_url }}" alt="Rift Travels Logo" class="logo-image">
        <div class="logo-text">{{ site.title }}</div>
    </a>
    <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}#blog">Stories</a></li>
        <li><a href="{{ '/' | relative_url }}#instagram">Gallery</a></li>
        <li><a href="/custom-travel-itinerary/">Itineraries</a></li>
        <li><a href="{{ '/' | relative_url }}#about">About</a></li>
    </ul>
</nav>
